.button {
    background: none;
    background-color: #323232;
    border: none;
    border-radius: 8px;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    max-width: fit-content;
    padding: 12px 24px;

    &:disabled {
        opacity: .5;
    }

    &:not(:disabled):hover {
        background-color: #363636;
        cursor: pointer;
    }
}