.chat-box {
    background-color: #282828;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 16px 0;
    border-radius: 8px;
    margin: 32px;
    max-width: 784px;
    height: calc(100vh - 64px);
    flex: 0 1 784px;

    .chat-box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        scrollbar-gutter: stable both-edges;
        overflow-y: auto;
        scroll-behavior: smooth;
        gap: 16px;
        width: 100%;
        height: 100%;
        padding: 0 16px 0 1px;
    }

    .system-message {
        color: #a0a0a0;
        font-size: 12px;
        text-align: center;
    }

    .chat-box-actions {
        display: flex;
        align-items: center;
        padding:  0 16px;
        flex-shrink: 0;
        gap: 4px;

        button {
            background: none;
            border: none;
            border-radius: 100%;
            cursor: pointer;
            padding: 10px;

            &:hover {
                background-color: #363636;
            }

            svg {
                color: white;
                display: block;
            }
        }
    }
}