.chat-box {
    background-color: #282828;
    color: white;
    padding: 16px;
    border-radius: 8px;
    margin: 32px;
    max-width: 768px;
    min-height: 100%;
    flex: 0 1 768px;

    .chat-box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;
        height: 100%;
    }
}