.input-text-field {
    background-color: #323232;
    border-radius: 32px;
    cursor: text;
    padding: 12px;
    width: 100%;

    &:has(input:disabled) {
        cursor: unset;
        opacity: .5;
    }

    input {
        background: none;
        border: none;
        color: inherit;
        font-size: inherit;
        outline: none;
        width: 100%;
        height: 100%;
    }
}