.message-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 40px;

    &.reply {
        justify-content: unset;

        .text {
            background-color: rgb(0, 75, 166);
        }
    }

    .text {
        background-color: rgb(0, 105, 216);
        padding: 10px 12px;
        border-radius: 16px;
        max-width: 50%;
        overflow-wrap: anywhere;
        word-break: break-word;
        white-space: pre-wrap;
    }
}