.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    gap: 4px;
    width: 100%;
    
    &.reply {
        align-items: flex-start;

        .text {
            background-color: rgb(0, 75, 166);
            border-top-right-radius: 16px;
            border-top-left-radius: 0;
        }
    }

    .username {
        color: #dadada;
        font-size: 12px;
    }

    .text {
        background-color: rgb(0, 105, 216);
        padding: 10px 12px;
        border-radius: 16px;
        border-top-right-radius: 0;
        width: fit-content;
        overflow-wrap: anywhere;
        word-break: break-word;
        white-space: pre-wrap;
    }
}